@inherits LayoutComponentBase
@using Capstone.Models
@using Capstone.Services
@inject NavigationManager navigationManager
@inject SessionState sessionState


<div class="layout-container" style="display: flex; min-height: 100vh;">
	<div class="main" style="flex: 1;">
		<RadzenComponents @rendermode="RenderMode.InteractiveWebAssembly" />
		<RadzenStack Orientation="Radzen.Orientation.Vertical">
			<RadzenRow JustifyContent="Radzen.JustifyContent.SpaceBetween" class="rz-mx-9">
				<RadzenImage Path="images/logo.png"
							 AlternateText="Travlr Getaways logo"
							 Style="max-width: 15rem;" />

				<Capstone.Components.ProfileComponent User="sessionState.CurrentUser"
													  OnLogout="OnLogout" />
			</RadzenRow>
		</RadzenStack>
		@Body
	</div>
</div>

@code {
	private void OnLogout()
	{
		// navigate back to home
		navigationManager.NavigateTo("/");
	}

	protected override void OnInitialized()
	{
		if (sessionState.CurrentUser == null || sessionState.CurrentUser.Role != "admin")
		{
			OnLogout();
		}
	}
}
