@using Capstone.Services
@using Capstone.Shared.Models
@namespace Capstone.Components.AdminComponents
@inject ContactService contactService
@inject IJSRuntime JS

@if (!isDataFetched)
{
	<RadzenText>LOADING</RadzenText>
}
else
{
	foreach (var kvp in messageDict)
	{
		<div id="topic-@kvp.Key.ToString()">
			<MessageListComponent Messages="kvp.Value"
								  Topic="kvp.Key"
								  OnReadStatusChange="OnReadStatusChange" />
		</div>
	}
}

@code {
	// prop-drilling...
	[Parameter]
	public EventCallback<(ContactMessage.MessageTopic topic, bool isIncrease)> OnReadStatusChange { get; set; }

	Dictionary<ContactMessage.MessageTopic, List<ContactMessage>> messageDict = new();

	bool isDataFetched;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		// should be empty dict already...
		if (messageDict.Keys.Count > 0) messageDict.Clear();

		foreach (var enumVal in Enum.GetValues<ContactMessage.MessageTopic>())
		{
			messageDict.Add(enumVal, new());
		}

		// get all the messages
		var messages = await contactService.GetMessagesAsync();

		if (messages == null)
		{
			throw new Exception("We got problems");
		}

		// separate by topic
		// feed separate lists into list display components...
		foreach (var msg in messages)
		{
			messageDict[msg.Topic].Add(msg);
		}

		isDataFetched = true;
	}

	public async Task ScrollToTopic(ContactMessage.MessageTopic topic)
	{
		// Console.WriteLine("figma ligma " + topic.ToString());
		await JS.InvokeVoidAsync("scrollToElementById", $"topic-{topic}");
	}
}
